<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h3>Form Input Mahasiswa</h3>

        <form action="/simpan" method="post">

            Nama
            <input type="text" name="nama">

            NIM
            <input type="text" name="nim">

            Kelas
            <input type="text" name="kelas">

            <button type="submit">Simpan</button>

        </form>

    </div>

</div>

</body>
</html>