<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h3>Form Input Mahasiswa</h3>

        <form action="/simpan" method="post">

            <label>Nama:</label>
            <input type="text" name="nama">

            <label>NIM:</label>
            <input type="text" name="nim">

            <label>Jenis Kelamin:</label>

            <div class="radio-group">
                <label>
                    <input type="radio" name="jenisKelamin" value="Laki-laki">
                    Laki-laki
                </label>

                <label>
                    <input type="radio" name="jenisKelamin" value="Perempuan">
                    Perempuan
                </label>
            </div>

            <br>

            <button type="submit">Submit</button>

            <br><br>

            <a href="/">Kembali ke Home</a>

        </form>

    </div>

</div>

</body>
</html>