<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h3>Login Page</h3>

        <div th:if="${error}" style="color:red; margin-bottom:10px;">
            <span th:text="${error}"></span>
        </div>

        <form action="/login" method="post">

            <label>Username:</label>
            <input type="text" name="username">

            <label>Password:</label>
            <input type="password" name="password">

            <button type="submit">Login</button>

        </form>

    </div>

</div>

</body>
</html>